/**
* @name		变量value和函数mixin
* @desc             
==================================== */

/* 变量value
------------------- */

/* 浮动相关 */
%float-l{
	float: left;
	display: inline;
}
%float-r{
	float: right;
	display: inline;
}
%clear{
	zoom: 1;
}
%clear:after{
	clear: both;
	content: ".";
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}


/* 文字过长省略 */
%text-overflow{
	overflow: hidden;
	white-space: nowrap;
	-ms-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}


/* 块级行内元素 */
%inline-block{
	display: -moz-inline-stack;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	overflow: hidden;
	vertical-align: top;
	font-size: 12px;
	word-spacing: normal;
	letter-spacing: normal;
}
	/* 去掉inline-block元素间空隙(父元素设置) */
%inline-block-father{
	font-size: 0;
	*word-spacing: -1px;
}
	/* Safari 等不支持字体大小为 0 的浏览器（版本低于Mac的Safari6 和 低于Windows的Safari5）利用letter-spacing, 具体数值根据父级字体调节。不能全局使用是因为：1、Firefox 中 letter-spacing 负值的绝对值大于空隙大小后，会导致元素整体位置向右偏移；2、Safari 中 letter-spacing 负值的绝对值大于空隙大小后，内部会发生重叠；3、ie67 中 letter-spacing无效，且letter-spacing 和 word-spacing 同时使用可能导致冲突 */
@media screen and (-webkit-min-device-pixel-ratio:0){
	%inline-block-father{letter-spacing: -5px;} 
}


/* 自适应宽度 */
	/* 外层 */
%auto-width-out{
	position: relative;
	overflow: hidden;
	_float: left;
}
	/* 内层 */
%auto-width-in{
	width: 100%;
}


/* 遮罩 */
%tblr{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}


/* 定高出纵向滚动条 */
%scroll-y{
	position: relative;
	*zoom: 1;
	overflow-x: hidden;
	overflow-y: auto;
}





/* 函数mixin
------------------- */
/* 背景透明度 */
@mixin bgc-transparency($degree){
	-moz-opacity: $degree/100; /* FireFox 3.5+ 已不再支持 */
	filter: alpha(opacity=$degree);
	opacity: $degree/100;
}


/* 图片base64转码 */
@mixin inline-image($url){
	background: inline-image($url) no-repeat;
	*background-image: url($url);
}


/* 非平铺背景 */
@mixin bg-img($url) {
	@if $url == "none" {
	   
	} @else {
		background-image: url($url);
		background-repeat: no-repeat;
	}
}

/* 横向平铺背景 */
@mixin bg-img-x-repeat($url) {
	 @if $url == none {
	   
	 } @else {
		background-image: url($url);
		background-repeat: repeat-x;
	 }
}

/* 竖向平铺背景 */
@mixin bg-img-y-repeat($url) {
	@if $url == none {
	   
	} @else {
		background-image: url($url);
		background-repeat: repeat-y;
	}
}


/* 边框透明 */
@mixin border-transparent($width, $ie6bdc){
	border: $width solid transparent;
	_border-color: $ie6bdc;
	_filter: chroma(color=$ie6bdc);
}


/* 小箭头 */
@mixin arrow($width, $ie6bdc){
	display: block;
	content: " ";
	width: 0;
	height: 0;
	line-height: 0;
	font-size: 0;
	@include border-transparent($width, $ie6bdc);
}
@mixin arrowDirection($direction, $bdc){
	/* 向上小三角 */
	@if $direction == top {
		border-top: 0;
		border-bottom-color: $bdc;
		_border-bottom-color: $bdc;
	}
	/* 向下小三角 */
	@else if $direction == bottom {
		border-bottom: 0;
		border-top-color: $bdc;
		_border-top-color: $bdc;
	}
	/* 向左小三角 */
	@else if $direction == left {
		border-left: 0;
		border-right-color: $bdc;
		_border-right-color: $bdc;
	}
	/* 向右小三角 */
	@else if $direction == right {
		border-right: 0;
		border-left-color: $bdc;
		_border-left-color: $bdc;
	}
}


/* webkit内核滚动条 */
@mixin scrollbar($r,$g,$b){
  &::-webkit-scrollbar {width: 6px;height: 6px;}
  &::-webkit-scrollbar-button {width: 0;height: 0; display: none}
  &::-webkit-scrollbar-corner {background-color: transparent;}
  &::-webkit-scrollbar-thumb {
    background-color: rgba($r,$g,$b, 0.3);
    border-radius: 10px;
    -webkit-box-shadow: inset 1px 1px 0 rgba($r,$g,$b, 0.1);
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba($r,$g,$b, 0.5);
    border-radius: 10px;
    -webkit-box-shadow: inset 1px 1px 0 rgba($r,$g,$b, 0.1);
  }
  &::-webkit-scrollbar-track {
  	border-radius: 10px;
  	-webkit-box-shadow: inset 0 0 6px rgba($r,$g,$b, 0);
  }
  /*&::-webkit-scrollbar-track:hover {
  	border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba($r,$g,$b, 0.5);
  }*/
}




/* 高级属性（CSS3）*/

/* 块阴影：
1、对象选择器 {box-shadow: 投影方式 X轴偏移量 Y轴偏移量 阴影模糊半径 阴影扩展半径 阴影颜色, ...;}
2、ie6-8不支持 
*/
@mixin box-shadow($value...){
	-webkit-box-shadow: $value;
	-moz-box-shadow: $value;
	box-shadow: $value;
}
/* IE6-8实现方式：
1、对象选择器 {filter: progid:DXImageTransform.Microsoft.Shadow(Color=’颜色值’, Direction=阴影角度（数值）, Strength=阴影半径（数值）);} 
*/
@mixin box-shadow-ie($c, $d, $s){
	filter: progid:DXImageTransform.Microsoft.Shadow(color='$c', direction=$d, strength=$s);
}


/* 文字阴影：
1、对象选择器 {text-shadow: X轴偏移量 Y轴偏移量 阴影模糊半径 阴影颜色, ...;}
2、ie6-9不支持
*/ 
@mixin text-shadow($value...){
	text-shadow: $value;
}
/* IE6-9实现方式：
1、只对默认块级或设置块级有效
2、对象选择器 {filter:shadow(color=颜色值,direction=数值,strength=数值);}
3、color用于设定对象的阴影色；direction用于设定投影的主向，取值为0即零度（表示向上方向），45为右上，90为右，135为右下，180为下方，225为左下方，270为左方，315为左上方；strength就是强度，类似于text-shadow中的blur值 
*/
@mixin text-shadow-ie($c, $d, $s){
	filter: shadow(color='$c', direction=$d, strength=$s);
}

/* 圆角：
1、对象选择器 {border-radius：none | <length>{1,4} [/ <length>{1,4} ]?;}
2、顺序是top-left、top-right、bottom-right、bottom-left}
3、ie6-8不支持
*/
@mixin border-radius($value){
	-webkit-border-radius: $value;
	-moz-border-radius: $value;
	border-radius: $value;
}



/* 特殊说明：
1、FF下transition和animation中时间参数需要加s单位，否则不起作用
*/

/* 变形：
1、对象选择器 {transform: 旋转rotate(50deg) 移动translate(50px, 30px) 缩放scale(2, 1.5) 扭曲skew(30deg, 50deg) 矩阵matrix(1,1,-1,0,0,0);}
2、其中translate和skew只有一个参数时，表示X轴上的变化；scale只有一个参数时，表示x轴和y轴上的变化
3、ie6-8不支持
*/
@mixin transform($value){
	-webkit-transform: $value;
	-moz-transform: $value;
	-ms-transform: $value;
	-o-transform: $value;
	transform: $value;
}
	/* 元素基点 */
@mixin transform-origin($x, $y){
	-webkit-transform-origin: $x $y;
	-moz-transform-origin: $x $y;
	-ms-transform-origin: $x $y;
	-o-transform-origin: $x $y;
	transform-origin: $x $y;
}


/* 转换：
1、对象选择器 {transition: 属性transition-property 持续时间transition-duration 动画类型transition-timing-function 延迟时间transition-delay, ...;}
2、其中动画类型包括：
   linear匀速，linear 函数等同于贝塞尔曲线(0.0, 0.0, 1.0, 1.0)
   ease逐渐变慢（默认值），ease函数等同于贝塞尔曲线(0.25, 0.1, 0.25, 1.0) 
   ease-in加速，ease-in 函数等同于贝塞尔曲线(0.42, 0, 1.0, 1.0)
   ease-out减速，ease-out 函数等同于贝塞尔曲线(0, 0, 0.58, 1.0)
   ease-in-out加速然后减速，ease-in-out 函数等同于贝塞尔曲线(0.42, 0, 0.58, 1.0)
   cubic-bezier(x1, y1, x2, y2)（该值允许自定义一个时间曲线）， 特定的cubic-bezier曲线。 (x1, y1, x2, y2)四个值特定于曲线上点P1和点P2。所有值需在[0, 1]区域内，否则无效
3、ie6-9不支持
*/
@mixin transition($value...){
	-webkit-transition: $value;
	-moz-transition: $value;
	-o-transition: $value;
	transition: $value;
}


/* 动画：
1、对象选择器 {animation: 动画名称animation-name 持续时间animation-duration 动画类型animation-timing-function（同transition） 延迟时间animation-delay 循环次数animation-iteration-count（1、2、3、... 、infinite） 循环方向animation-direction（normal、alternate） 动画状态animation-play-state（running、paused，不常用） 动画结束状态animation-fill-mode（none、forwards、backwards、both，不常用）, ...;}
2、ie6-9不支持
*/
@mixin animation($value...){
	-webkit-animation: $value;
	-moz-animation: $value;
	-o-animation: $value;
	animation: $value;
}
	/* 关键帧，指定一个动画的名称和实际内容，以下为举例 */
@mixin keyframes($name){
	@-webkit-keyframes #{$name}{
		@content;
	}
	@-moz-keyframes #{$name}{
		@content;
	}
	@-o-keyframes #{$name}{
		@content;
	}
	@keyframes #{$name}{
		@content;
	}
}