/**
* @name		young_calendar
* @author:  Cc
* @date:    2014-04-12
==================================== */

.m-calendar{position: relative;*zoom: 1;}
.m-calendar .can{position: absolute;background-color: #fff;border: 1px solid;}
.m-calendar .can-blank{line-height: 0;font-size: 0;}
.m-calendar .can-time{border-top-color: #fff}